.selectorwrapper {
  width: 400px;
}
.selectorwrapper .selector {
  border-color: #C1C1C1;
  border-style: none solid solid;
  border-width: medium 1px 1px;
}

.selectorwrapper .selector .loading, .selectorwrapper .selector .error {
  padding-top:  20px;
  text-align:   center;
  height:       200px;
}

.selectorwrapper .selector .error {
  background-color: #EA342C;
  color:            #630700;
}

.selectorwrapper ul.list {
  list-style-type:  none;
  margin:           0;
  padding:          0;
  z-index:          1;
  overflow:         auto;
  height:           200px;
}

.selectorwrapper ul.list li {
  display:          block;
  float:            left;
  list-style-image: none;
  list-style-type:  none;
  margin:           0;
  padding:          0;
  width:            50%;
}
.selectorwrapper ul.list .selector_item {
  background-color: #F7F7F7;
  border:           1px solid #D8DFEA;
  clear:            both;
  position:         relative;
  height:           50px;
  overflow:         hidden;
  margin:           2px;
  padding:          2px;
}
.selectorwrapper ul.list li:hover .selector_item {
  background-color: white !important;
}
.selectorwrapper ul.list li.selected .selector_item {
  border:           1px solid #149525 !important;
  background-color: #D7F8AC !important;
  position:         relative;
}
.selectorwrapper ul.list li .radical {
  display: none;
}
.selectorwrapper ul.list li.selected .radical {
  bottom:       1px;
  color:        #149525;
  display:      block;
  font-size:    16px;
  font-weight:  bold;
  position:     absolute;
  right:        2px;
}
.selectorwrapper.selected ul.list li.notselected, .selectorwrapper.notselected ul.list li.selected {
  display: none;
}
.selectorwrapper .filters {
  border-bottom:  1px solid #C1C1C1;
  padding:        4px 0pt 0pt;
}
.selectorwrapper .filters .selections {
  list-style-type:  none;
  margin:           0px;
  padding:          0px;
}
.selectorwrapper .filters .selections:after {
  content:      ".";
  display:      block;
  clear:        both;
  visibility:   hidden;
  line-height:  0;
  height:       0;
}
.selectorwrapper .filters .selections li.view_on {
  background: #ccc;
}
.selectorwrapper .filters .selections li {
  float:            left;
  padding:          4px 7px;
  text-align:       center;
  width:            100px;
  cursor:           pointer;
  color:            #3B5998;
  text-decoration:  none;
}
